
.maine{
  background-color: rgba(222, 222, 222, 1);
}

.bio{
  
  /* border-radius: 20px; */
  margin: 30px auto;
  width: 78vw;

  
}
.samecomp{
  margin: 0px auto;
  width: 78vw;
  
}
.main{
  background-color: red;
}
.pic{
  /* border-radius: 20px; */
}
.elements{
  margin: 0px;
  
  font-weight: bolder;
}
.para{
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 1rem;
}

.paras{
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 1rem;
}
.projs
{
  width: 150px;
  height: 150px;

  
}
.projs img{
  margin-left: 15px;
}
.projtitle{
  
  
  
  font-weight: bold;
 
}
.projtitle h2{
  margin: 0;
  margin-left: 15px;
}
.projtitle p{
  margin: 0;
  margin-left: 15px;
}
.projtitle m{
  margin: 0;
}
.projtitle a{
  text-decoration: none;
  color: grey;
}
.cir1{
  margin: 20px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: rgba(0, 191, 134, 1);
  float: right;
  

}
.cir1 h2{
  display: inline;
  padding: 5px;
 font-weight: bolder;
}
.one{
  position: relative;
  top: 100px;
  left: 29px;
}
.two{
  position: relative;
  top: 230px;
  left: 150px;
}
.three{
  position: relative;
  top: 180px;
  left: 10px;
}
.four{
  position: relative;
  top: 50px;
  left: 0px;
}
.five{
  position: relative;
  right: 80px;
  top: 120px;
}
.cir2{
  width: 150px;
  height: 150px;
  margin: 20px;
  background-color: rgba(22, 82, 64, 1);
  border-radius: 100%;
  color: white;
}
.cir2 h2{
  display: inline;
}
.secone{
position: relative;
left: 40px;
top: 70px;
}

.sectwo{
  position: relative;
  left: 60px;
  top: 30px;
}

.boxes{
  width: max-content;
}
.box1 h4{
  display: inline;
}

.box1{
  height: 200px;
}
.box2{
  height: 200px;
}
.box2 h4{
  display: inline;
}
